@import '../../index.css';

.auth_container {
    height: 100vh;
    background: linear-gradient(-45deg, rgba(194,101,227,1) 30%, rgba(131,101,227,1) 70%);
}
.auth_form_container {
    padding: 2rem;
    min-height: 400px;
}
.auth_form {
    margin-top: 2rem;
}
/* .auth_form_container {
    display: flex;
    justify-content: center;
} */